body{
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center; 
}
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.encabezado{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    background-color: #EDEDED;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #7B1113;
}
.index1{
    background-color: #9B192D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index-logo {
    height: 94px;
    width: 254px;
    border-top: 8px solid #9B192D;
    border-bottom: 8px solid #9B192D;
    border-left: 30px solid #9B192D;
    border-right: 30px solid #9B192D;
}
.index2{
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.index3{
    display: flex;
    align-items: center;  
    justify-content: center; 
}
.index4{
    display: flex;
    align-items: center;  
    justify-content: center; 
}
.index5{
    display: flex;
    align-items: center;  
    justify-content: center;
}
.index2 a{
    display: block;
    text-decoration: none;
    font-weight:600;
    font-size: 0.9rem;
    padding-bottom: 5px;    
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
}
.index2 a.active,
.index2 a:hover{
    color: #333;
    border-bottom-color: #333;
}
.index3 a{
    display: block;
    text-decoration: none;
    font-weight:600;
    font-size: 0.9rem;
    padding-bottom: 5px;    
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
}
.index3 a.active,
.index3 a:hover{
    color: #333;
    border-bottom-color: #333;
}
.index4 a{
    display: block;
    text-decoration: none;
    font-weight:600;
    font-size: 0.9rem;
    padding-bottom: 5px;    
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
}
.index4 a.active,
.index4 a:hover{
    color: #333;
    border-bottom-color: #333;
}
.index5 a{
    display: block;
    text-decoration: none;
    font-weight:600;
    font-size: 0.9rem;
    padding-bottom: 5px;    
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
}
.index5 a.active,
.index5 a:hover{
    color: #333;
    border-bottom-color: #333;
}
.index-carousel{
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.index-fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/Foto_panoramica.webp);
    background-size: cover;
    background-position: center; 
}

[data-carousel-slide-to] {
    background-color: #fff; 
    opacity: 1;
}
[data-carousel-slide-to][aria-current="true"] {
    background-color: #C5A500; 
    opacity: 1; 
}
[data-carousel="slide"] > .overflow-hidden::after {
    content: "";      /* Requerido para un pseudo-elemento */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background: 
        linear-gradient(to right, rgba(0,0,0, 0.5) 0, transparent 50%),
        linear-gradient(to left, rgba(0,0,0, 0.5) 0, transparent 50%);
    border-bottom-right-radius: 130px;
    pointer-events: none;
    
}
.bori-4{
    right: 4.5rem;
    bottom: 3.5rem;
}
.altura{
    aspect-ratio: 16 / 6;
}
.mi-ventana-carrusel {
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    z-index: 40;
    bottom: 0; 
    left: 0 ;
    width: 50%;
}
.cuadricula{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.cara{
    width: 95%;
}